*/Library/
*/Temp/
*/Log/
*/Logs/
*/bin/
*/Builds/
*/_Builds/
*/Build/
*/_Build/
*/obj/
*/UserSettings/
*/.vs/
*/.idea/
.idea/
Assets/Plugins/Editor/JetBrains*

*.csproj
*.sln
*.unityproj
*.userprefs
*.vsconfig
*.DS_Store
